<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>p5.js & ml5.js Snippets</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.5.0"></script>
  <style>
    .p5-color {
      color: #ED225D;
    }

    .text-p5Color {
      color: #ED225D;
    }

    .bg-p5-color {
      background-color: #ED225D;
    }

    .ml5-color {
      color: #8833FF;
    }

    .text-ml5Color {
      color: #8833FF;
    }

    .bg-ml5-color {
      background-color: #8833FF;
    }

   .bg-stop-color {
      background-color: #8f49bb;
    }

    .text-stop-color {
      color: #FFFFFF;
    }
  </style>
</head>

<body class="bg-gray-100 font-sans antialiased">

  <header class="bg-white shadow-lg sticky top-0 z-50">
    <div class="container mx-auto px-6 py-5 flex justify-between items-center">
      <h1 class="text-4xl font-bold text-gray-800">
        <span class="p5-color">p5.js</span> & <span
          class="ml5-color">ml5.js</span> Snippets
      </h1>
      <p class="text-gray-600 text-sm">Creative Coding & Machine Learning in the
        Browser</p>
    </div>
  </header>

  <main class="container mx-auto px-6 py-12 space-y-12">
    <section class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="p-8">
        <h2 class="text-3xl font-semibold text-gray-800">About This Project</h2>
        <p class="mt-4 text-lg text-gray-600">
          This is my side project where I play around with interactive coding
          snippets,
          using <span class="p5-color">p5.js</span> for creative visuals and
          <span class="ml5-color">ml5.js</span> to bring in some simple machine
          learning. A
          lot of the inspiration comes from the amazing work at <a
            href="https://thecodingtrain.com/" class="text-blue-500 underline"
            target="_blank">The Coding Train</a> and the YouTube channel that
          used to be
          called "Rainbow Coding." I also pull ideas from the book <a
            href="https://natureofcode.com/" class="text-blue-500 underline"
            target="_blank">The Nature of Code</a>, which has been a big
          influence.

          The color schemes and animations might even remind you of the <a
            href="https://www.youtube.com/watch?v=yXJl5Gf05zg"
            class="text-blue-500 underline" target="_blank">BenZel & Jessie Ware
            - "If You
            Love Me"</a> video. This project is just my way of exploring the
          overlap
          between art, AI, and web development.
        </p>
      </div>
    </section>

    <section
      class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 transition duration-300 ease-in-out">
      <div class="p-8">
        <h2 class="text-3xl font-semibold text-gray-800"><span
            class="text-p5Color">p5.js</span> – Creative Coding for Everyone
        </h2>
        <p class="mt-4 text-lg text-gray-600">
          <span class="text-p5Color">p5.js</span> is an open-source JavaScript
          library that makes creating digital art, interactive animations, and
          data-driven designs effortless. Perfect for artists and developers
          alike.
        </p>
        <a href="https://p5js.org" target="_blank"
          class="inline-block mt-6 text-white bg-p5-color hover:bg-red-600 px-5 py-3 rounded-lg shadow-md transition duration-300">Learn
          More</a>
      </div>
    </section>

    <section
      class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:scale-105 transition duration-300 ease-in-out">
      <div class="p-8">
        <h2 class="text-3xl font-semibold text-gray-800"><span
            class="text-ml5Color">ml5.js</span> – Simplified Machine Learning
        </h2>
        <p class="mt-4 text-lg text-gray-600">
          <span class="text-ml5Color">ml5.js</span> is a high-level machine
          learning library built on TensorFlow.js. It's easy to use and allows
          developers to build projects that learn and evolve in real-time.
        </p>
        <a href="https://ml5js.org" target="_blank"
          class="inline-block mt-6 text-white bg-ml5-color hover:bg-purple-600 px-5 py-3 rounded-lg shadow-md transition duration-300">Learn
          More</a>
      </div>
    </section>

    <div class="bg-white rounded-lg shadow-lg overflow-hidden p-8">
      <h2 class="text-3xl font-semibold text-gray-800 text-center mb-6">Snippet
        Player</h2>
      <div id="player-container"
        class="border-4 border-brightMagenta rounded-lg bg-lavenderPurple p-6 w-full h-96 flex items-center justify-center shadow-lg">
        <p class="text-softPink">Select a snippet to run</p>
      </div>
      <div class="text-center mt-4">
        <button id="stop-button"
          class="hidden bg-stop-color text-stop-color py-2 px-6 rounded-full mt-4 hover:bg-pinkish-purple-2 transition duration-300"
          onclick="stopSnippet()">Stop Snippet</button>
      </div>
    </div>

    <h2 class="text-4xl font-bold mt-12 mb-6 text-center"><span
        class="text-p5Color">p5.js</span> Snippets</h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 px-6">
      {{ $posts := where .Site.RegularPages "Params.type" "p5" }}
      {{ range $posts }}
      <div
        class="p-6 bg-white text-darkPurple border-4 border-p5-color rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
        <img src="{{ .RelPermalink }}{{ .Params.thumbnail }}" alt="{{ .Title }}"
          class="w-full h-48 object-cover rounded mb-4">
        <div class="flex items-center justify-between mb-2">
          <h2 class="text-2xl font-semibold text-p5Color flex-grow">{{ .Title }}
          </h2>
          <a href="{{ .Params.github_url }}" target="_blank"
            class="ml-2 flex-shrink-0">
            <img
              src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
              alt="GitHub" class="w-6 h-6">
          </a>
        </div>
        <p class="mb-4">{{ .Params.description }}</p>
        <button
          class="bg-p5-color text-white py-2 px-4 rounded-full hover:bg-darkPurple transition duration-300"
          onclick="loadSketch('{{ .RelPermalink }}{{ .Params.snippet }}')">Run
          Snippet</button>

      </div>
      {{ end }}
    </div>

    <h2 class="text-4xl font-bold mt-12 mb-6 text-center"><span
        class="text-ml5Color">ml5.js</span> Snippets</h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 px-6">
      {{ $posts := where .Site.RegularPages "Params.type" "ml5" }}
      {{ range $posts }}
      <div
        class="p-6 bg-white text-darkPurple border-4 border-ml5-color rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
        <img src="{{ .RelPermalink }}{{ .Params.thumbnail }}" alt="{{ .Title }}"
          class="w-full h-48 object-cover rounded mb-4">
        <div class="flex items-center justify-between mb-2">
          <h2 class="text-2xl font-semibold text-ml5Color flex-grow">{{ .Title }}
          </h2>
          <a href="{{ .Params.github_url }}" target="_blank"
            class="ml-2 flex-shrink-0">
            <img
              src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
              alt="GitHub" class="w-6 h-6">
          </a>
        </div>
        <p class="mb-4">{{ .Params.description }}</p>
        <button
          class="bg-ml5-color text-white py-2 px-4 rounded-full hover:bg-darkPurple transition duration-300"
          onclick="loadSketch('{{ .RelPermalink }}{{ .Params.snippet }}')">Run
          Snippet</button>
      </div>
      {{ end }}
    </div>
  </main>

  <footer class="bg-gray-900 text-gray-200 py-8">
    <div class="container mx-auto px-6 text-center">
      <p>Built using <span class="text-p5Color">p5.js</span> and <span
          class="text-ml5Color">ml5.js</span>.</p>
      <p class="mt-4 text-sm">© 2024 vesnag.</p>
      <p class="mt-2 text-sm">
        <a href="https://gohugo.io/" target="_blank">
          <img src="https://gohugo.io/images/hugo-logo-wide.svg" alt="Hugo"
            class="inline-block h-6">
        </a>
        <span class="ml-2">and</span>
        <a href="https://htmx.org/" target="_blank"
          class="inline-block h-6 text-gray-200">
          </> htmx
        </a>
      </p>
    </div>
  </footer>

  <script>
    let currentSketch = null;
    let currentScriptElement = null;

    const stopSnippet = () => {
      currentSketch?.remove();
      currentSketch = null;

      if (currentScriptElement) {
        document.head.removeChild(currentScriptElement);
        currentScriptElement = null;
      }

      document.getElementById('player-container').innerHTML = '<p class="text-softPink">Select a snippet to run</p>';
      document.getElementById('stop-button').classList.add('hidden');
    };

    const loadSketch = (scriptPath) => {
      currentSketch?.remove();
      if (currentScriptElement) {
        document.head.removeChild(currentScriptElement);
      }

      document.getElementById('player-container').innerHTML = '';
      const scriptElement = document.createElement('script');
      scriptElement.src = scriptPath;
      document.head.appendChild(scriptElement);
      currentScriptElement = scriptElement;

      scriptElement.onload = () => {
        if (typeof sketch === 'function') {
          currentSketch = new p5(sketch, 'player-container');
          startSnippet();
        } else {
          console.error('Sketch function not found in the loaded script.');
        }
      };
    };

    const startSnippet = () => {
      document.getElementById('stop-button').classList.remove('hidden');
    };
  </script>

</body>

</html>
